.mobile-burger-menu {
  background-color: $white;

  @include on1280 {
    display: none;
  }

  &__content {
    height: 100vh;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 25px;
    align-items: center;
    margin: 0 0 30px;

    @include on1280 {
      display: none;
    }
  }

  &__menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 11px 8px 11px 11px;
    display: grid;
    grid-template-columns: 24px 1fr 16px;
    align-items: center;
    column-gap: 14px;
    margin-bottom: 19px;

    &:last-child {
      margin: 0;
    }

    &--active {
      background-color: #5932ea;
      border-radius: 8px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #9197B3;

    &--active {
      color: #fff;
    }
  }
}
